.layout {
  background: #fff;
}

.section {
  padding: 0 15px;
  margin-bottom: 25px;
}

.main {
  background: url('../../assets/defaultBg.jpg');
  background-size: 100% 100%;
  height: 90vh;
  min-height: 800px;

  .content {
    position: relative;
    display: flex;
    padding: 10px 50px;
  }

  :global {
    .ant-row-flex {
      width: 100%;
    }
  }

  h1 {
    font-size: 10rem;
    line-height: 10rem;
    color: #4ea4fc;
    letter-spacing: 10px;
    margin-bottom: 0;
  }

  h2 {
    font-size: 1.5rem;
    color: #182444;
    font-weight: 300;
  }
}

.mainInfo {
  margin-left: 7.5rem;

  .integer {
    color: #449ffb;
    font-size: 3rem;
    letter-spacing: 5px;
  }

  .float {
    vertical-align: super;
    font-size: 1.5rem;
  }

  .status {
    color: #60b702;
    font-size: 1rem;
  }
}

.aboutInfo {
  h3 {
    color: #449ffb;
    font-size: 3rem;
  }
}

.aboutLogo {
  display: inline-block;
  width: 200px;
  height: 180px;
  object-fit: contain;
}

.about {
  height: 500px;
}

.action {
  text-align: center;
  margin-top: 25px;
}

.hidden {
  visibility: hidden;
}

.portfolioColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
