@import '~antd/lib/style/themes/default.less';

.form {
  display: flex;
  justify-content: space-between;
}

.input {
  flex: 1;
  margin-right: @padding-md;
}

.listItem {
  :global(.ant-list-item-content) {
    justify-content: space-between;
    align-items: center;
  }
}
