@import 'https://code.highcharts.com/css/highcharts.css';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.v-header {
  height:100vh;
  display:flex;
  align-items: center;
  color:#fff;
}

.fullscreen-video-wrap {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}
.navbar-item {
  font-weight: 300;
}
.navbar-link {
  font-weight: 300;
}
h1 {
  font-size: 2.5em;
  display: block;
  /* color: white; */
  color: black;
  font-weight: 300;
}

p {
  font-size: 1.5em;
  font-weight: 500;
  color: white;
}

a {
  font-weight: 700;
  color: #ddd;
  position: relative;
}
a:hover {
  color: #65CDFF !important;
}
a:active {
  color: #65CDFF !important;
}
footer {
  padding: 1% 5%;
  text-align: center;
  background-color: #242735;
  color: white;
}
footer a {
  color: #FE4B74;
  font-weight: 500;
  text-decoration: none;
}
img {
  vertical-align: middle;
}
section {
  width: 100%;
  padding: 1rem 120px;
  /* display: table; */
  margin: 0;
  max-width: none;
  background-color: #2E3142;
  background-image: url('/performance/assets/skyline_1.jpg');
  /* background-image: url('/performance/assets/architecture.jpg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-blend-mode: luminosity; */
  /* background-position-y: -350px; */
  background-size: cover;
}
.title-container {
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  padding-bottom: 10px;
}
.performance-title {
  display: flex;
  font-size: 35px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.88;
  letter-spacing: 1px;
  color: #000000;
  /* color: #000000; */
}
.intro {
  height: 90vh;
}
.logo {
	width: 160px;
	height: 40px;
	object-fit: contain;
}
.tile.is-parent {
  padding: 2px;
}
.tile {
  border-radius: 0px;
}
.currency {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3%;
}
.currency-icon {
  display: flex;
}
.currency-label {
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin: 0 5px;
}
.currency-price-container {
  font-family: 'Roboto Condensed';
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.3px;
  color: #66CCFF;
}
.currency-price {
  display: flex;
  font-family: 'Roboto Condensed';
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.3px;
  color: #66CCFF;
}
.wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* height: 79px; */
  /* margin-bottom: 3%; */
  border: 1px solid white !important;
}
.currency-md {
  margin-top: 45%;
  display: flex;
  flex-direction: column;
}
.currency-change {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 79px; */
  /* border: 1px solid white !important; */
}
.currency-change h5 {
  padding-top: 16px;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
}
.currency-change h6 {
  padding-bottom: 10px;
  font-family: 'Roboto Condensed';
  font-size: 18px;
  font-style: normal;
}
.currency-totalvalue {
  display: flex;
  justify-content: space-between;
}
.currency-market-circulation {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 17px;
}
.currency-market-circulation-value {
  color: #FFFFFF;
  font-family: 'Roboto Condensed';
  font-size: 18px;
  letter-spacing: 1px;
}
.currency-hourvolume {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
}
.currency-hourvolume h5 {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
}
.currency-hourvolume h6 {
  font-family: 'Roboto Condensed';
  font-size: 20px;
  font-style: normal;
}
.currency-tile-small {
  background-color: #373E54;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.currency-logo-label {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 10px;
}
.currency-logo-small {
  height: 20px;
  width: 20px;
}
.currency-label-small {
  color: #FFFFFF;
  margin: 0 5px;
}
.currency-hour-small {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  font-family: 'Roboto Condensed';
}
.title-area {
  padding-left: 2%;
}
.navdiv {
  display: flex;
}
.navinfodiv {
  flex: 1;
}
.navContainer {
  display: flex;
  justify-content: space-evenly;
  background-color: #373E54;
}
.nav {
  height: 100px;
  margin-bottom: 0px;
  background-color: #373E54;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.navIndex {
  height: 140px;
  margin-bottom: 1px;
  background-color: #373E54;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid white !important; */
}
.navHistoricalWrapper {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}
.navHistoricalWrapper h5 {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 22px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
}
.navHistoricalWrapper h6 {
  font-family: 'Roboto Condensed';
  font-size: 22px;
  font-style: normal;
}
.navIndexContainer {
  display: flex;
  justify-content: space-around;
}
.navIndexWrapper {
  display: flex;
  flex-direction: column;
}
.navIndexWrapper h5 {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 22px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
}
.navIndexWrapper h6 {
  font-family: 'Roboto Condensed';
  font-size: 22px;
  font-style: normal;
}
.navInfo {
  height: 135px;
  margin-bottom: 1px;
  background-color: #373E54;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10px;
}
.navInfoTitle {
	font-size: 22px;
	font-weight: 300;
	line-height: 1.0;
	letter-spacing: 1px;
	color: #FFFFFF;
}
.navInfoTitle .text-style-1 {
	letter-spacing: normal;
}
.navInfoSubtitle {
  font-family: 'Roboto Condensed';
	font-size: 30px;
	font-weight: 500;
	line-height: 1.0;
	letter-spacing: 1.2px;
	color: #66CCFF;
  /* padding-top: 12px; */
}
.navChartStats {
  padding-left: 5px;
  flex: 2;
}
.stats {
  width: 100%;
	height: 130px;
	background-color: #373E54;
}
.stats thead th {
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #FFFFFF;
}
.statsTable {
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #65CDFF;
}
.statsTableWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #373E54;
  padding-top: 22px;
}
.statsTableContainer {
  padding-left: 5%;
}
.tbl-content {
  overflow-x: auto;
}
.holding {
  color: #FFFFFF;
  width: 100%;
  margin-bottom: 3px;
  border-spacing: 0px 3px;
  border-collapse: separate;
}
.holding thead th {
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  padding-top: 10px;
}
.holding tbody {
  background: #373E54;
}
#cointh {
  padding-left: 10px;
}
.holdingsContainer {
  display: flex;
  justify-content: space-between;
}
.holdingmarketcap {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 10px;
}
.holdingCoin {
  vertical-align: middle;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: condensed;
  line-height: normal;
  letter-spacing: 1px;
  padding-left: 5px;
  height: 80px;
}
.holdingTable {
  font-family: 'Roboto Condensed';
  color: #66CCFF;
  vertical-align: middle;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1px;
  line-height: normal;
}
.table_holdings_coin:hover {
  color: #000000;
}
.modal-background {
  background: rgba(0, 0, 0, 0.7);
}
.moreBtn {
  display: none;
  height: 40px;
  width: 100px;
  background-color: #373E54;
  border-color: transparent;
  color: #66CCFF;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  float: right;
}
.disclaimer {
  margin: 0 auto;
  margin-bottom: 37px;
  width: 1100px;
  font-size: 15px;
  line-height: 1.33;
  text-align: justify;
  color: grey;
}
.links {
  font-size: 15px;
  line-height: 1.33;
}
footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
footer .links li {
  color: #65CDFF;
  padding: 0 5px;
}
.copyright {
  margin: 26px 0;
  font-size: 15px;
  line-height: 1.33;
  color: #FFFFFF;
  text-align: center;
}
footer .sprites li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  background-color: #65CDFF;
  color: #FFFFFF;
  border-radius: 50%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
footer .sprites li:hover {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transform: scale(1.5) rotate(10deg);
  transform: scale(1.5) rotate(10deg);
  animation: slide 4s linear infinite;
  background-color: #000000;
}
/*
  Styling CSS for Highcahrts
*/
.highcharts-container, .highcharts-container svg { width: 100% !important; }
.highcharts-background {
  fill: #373E54;
}
.highcharts-grid-line {
  stroke-width: 0px;
}
/* Cryptocurrency comparison */
#compareChart {
  height: 600px;
}
#compareChart .highcharts-grid-line{
  stroke-width: 0px;
}
/* Net Asset Value Chart */
#netAssetValue {
	height: 374px;
	background-color: #373E54;
  padding-top: 14px;
}
#netAssetValue .highcharts-title {
  fill: #FFFFFF !important;
  color: #FFFFFF !important;
  letter-spacing: 1px !important;
  font-size: 30px !important;
  font-family: 'Roboto', sans-serif !important;
  font-weight: normal !important;
  line-height: 1.17 !important;
}
/* Historical Data Highstock*/
#historicalstock {
  height:600px;
}
#historicalstock .highcharts-background {
  fill: #373E54;
}
#historicalstock .highcharts-grid-line{
  stroke-width: 0px;
}
.modal-content {
  width: 80%;
}
/* Media Query for Phone Landscape */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2em;
    display: block;
    color: white;
    font-weight: 300;
  }
  section {
    width: 100%;
    padding: 1rem 50px;
    display: block;
    margin: 0;
    max-width: none;
    background-color: #2E3142;
    background-image: url('/performance/assets/skyline_1.jpg') no-repeat center;
    /* background-position-y: -250px; */
  }
  .navChartStats {
    padding-left: 0px;
    padding-top: 0.5rem;
  }
  .navdiv {
    display: block;
  }
  .statsTableWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #373E54;
    padding-top: 3px;
  }
  .statsTableContainer {
    padding-left: 5%;
  }
  .nav {
    height: 50px;
    margin-bottom: 0px;
    background-color: #373E54;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
  }
  .navIndex {
    height: 110px;
    margin-bottom: 1px;
    background-color: #373E54;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
  }
  .navIndexContainer {
    padding-top: 11px;
  }
  .navIndexWrapper {
    flex-direction: column;
  }
  .navInfo {
    height: 50px;
    margin-bottom: 1px;
    background-color: #373E54;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
  }
  .navInfoTitle {
    height: auto;
  	font-size: 22px;
  	font-weight: 300;
  	line-height: 1.0;
  	letter-spacing: 1px;
  	color: #ffffff;
    padding: 0;
  }
  .navInfoTitle .text-style-1 {
  	letter-spacing: normal;
  }
  .navInfoSubtitle {
    height: auto;
    font-family: 'Roboto Condensed';
  	font-size: 22px;
  	font-weight: 500;
  	line-height: 1.0;
  	letter-spacing: 1.6px;
  	color: #66ccff;
    padding: 0;
  }
  .holding {
    background: #373E54;
    color: #FFFFFF;
    width: 100%;
    margin-bottom: 3px;
    margin-top: 0px;
  }
  #mcap {
    display: none;
  }
  #vlm {
    display: none;
  }
  #csupl {
    display: none;
  }
  #table_holdings_marketcap {
    display: none;
  }
  #table_holdings_volume {
    display: none;
  }
  #table_holdings_circulating {
    display: none;
  }
  .disclaimer {
    margin: 0 auto;
    margin-bottom: 37px;
    width: auto;
    font-size: 15px;
    line-height: 1.33;
    text-align: justify;
    color: grey;
  }
  .modal-content {
    width: 80%;
    max-height: calc(100vh - 1px);
  }
}
