.main {
  background-color: #001e46;
}
.bgImage {
  width: 629px;
  height: 448px;
  background-image: url('src/assets/whyus/why-us-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}