@import '~antd/lib/style/themes/default.less';

.row {
  padding-top: 60px;
  padding-bottom: 60px;
}

.centered {
  margin-bottom: @padding-md;
  flex-direction: column;
  align-items: center;
}

.flexCentered {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.darkWrapper {
  background-color: #fff;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  :global(.ant-card-head-title) {
    color: @text-color-dark;
  }
}
