@import '~antd/lib/style/themes/default.less';

:global {
  .ant-layout-header {
    background-color: transparent;
  }
  .ant-menu-horizontal {
    border-bottom: 0;
  }
  .ant-menu-item-selected {
    border-bottom: 0 !important;
  }
}

.name {
  display: inline-block;
  padding: 0 15px;

  &:hover {
    color: @primary-color;
  }
}

.nav {
  line-height: 64px;
  float: right;
  background-color: transparent;
}

.menu {
  :global(.anticon) {
    margin-right: 8px;
  }
  :global(.ant-dropdown-menu-item) {
    width: 160px;
  }
}
