@import '~antd/lib/style/themes/default.less';
@import '../../utils/utils.less';

.section {
  width: 100%;
  height: 100%;
  //padding: 0 30px;
  margin: 0;
  max-width: none;
  // background-color: #2E3142;
  //background-image: url('../../assets/skyline_1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.trendUp {
  margin-left: 8px;
  color: @green-6;
}
.trendDown {
  margin-left: 8px;
  color: @red-6;
}
.subtotalUp {
  color: @green-6;
}
.subtotalDown {
  color: @red-6;
}
